:root {
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  color: black;
  background: linear-gradient(to bottom, #1AA8C2, #2AB1B0);
  cursor: pointer;
}
button:hover {
  border-color: #7adeea;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
